
<nav  style="display:flex;flex-direction:row;justify-content:space-between; box-shadow: 0px 3px #fafafa;">
    <header style="flex:1;height:4.5rem">
        <img src ="../../assets/logo.png" style="height:100%;width:auto;">
        
    </header>
    
  <ul class="topnav" id="myTopnav" style="flex:1;display:flex;flex-direction:row;margin:0">
    <li (click)="myFunction()"><img src ="../../assets/menu icon.png" style="height:2rem;width:auto;"></li>
    <li>Home</li>
    <li>List</li>
    <li>Login</li>
    <li>Register</li>
  </ul>
</nav>
<div>

</div>